body {
    background-color: rgb(0, 0, 0);
    color: rgb(251, 251, 251);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    width: 100%;
}

.display-blocks {
    width: 100%;
}

.city-display {
    border: 1px solid rgb(251, 251, 251);
}

.city-display-content, 
.current-stats-content {
    margin: 15px 15px;
} 

.form-control {
    width: 100%;
    margin: 10px 10px 15px 0;
}

.forecast-display {
    border: 1px solid transparent;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.forecast-daily-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.box {
    background-color: rgb(150, 150, 220);
    height: 200px;
    width: 19%;
    border: 3px solid navy;
    display: block;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}

.box-contents {
    color: white;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}

#uv-style {
    color: white;
    margin: 2px 5px 2px 5px;
    border-radius: 3px;
    padding: 2px;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;

}

.uv-favorable {
    background-color: rgb(0, 0, 0);
}

.uv-moderate {
    background-color: orange;
}

.uv-severe {
    background-color: red;
}